<div>
    {{#if auth}}
        <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-4">
                <div class="card bg-white mb-3">
                    <div class="card-header">Welcome Profile</div>
                    <div class="card-body text-secondary">
                        {{auth}}
                    </div>
                </div>
                <p class="text-center lead">By Melihşah TÜLEK | 2020</p>
            </div>
        </div>
    {{/if}}
</div>